#home{
	text-align: center;
}

#gallery{
	border: 3px solid black;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 6px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;

}